#header {
  background-color: #1d7a99;
  text-align: center;
  color: white;

}
.post {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    box-shadow: 5px 5px 5px grey;
}
.title {
    font-family: sans-serif;
}

h1 {
    display: inline-block;
}

.logo{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.tweddit {
    width: 35%;
    height: 35%;

}
